<ion-view view-title="Home" id="home">

  <ion-content>

    <div class="top-section-container fadeInDown">
      Gobelins CRM 14
    </div>

    <div class="cadre-container">
      <div class="cadre">
        <div class="logo fadeInDown">
          <img src="img/logo.png" alt="">
        </div>
      </div>
      <div class="cadre-bg fadeIn">
        <img src="img/home/cadre-bg.png" alt="">
      </div>
    </div>

    <a href="#/app/lives" class="btn-entrez">
      <img src="img/home/entrez.png" alt="">
    </a>

  </ion-content>
</ion-view>
