<ion-view view-title="Live">
  <ion-content>
    <h1 class="title-live">{{live.title}}</h1>
    <canvas ns-navigator id="live" width="500px" height="350px"></canvas>
    <video id="video" preload src="{{live.grid_url}}" type="video/webm"></video>
    <p class="ns-detail"><span class="ion-flag"></span> {{live.location}} <span class="ion-at"></span> {{live.author}}</p>
    <button id="start" class="button button-outline button-positive">
      Start live
    </button>
    <div class="hide button-bar bar-light">
      <a id="left" class="button controls"><i class="icon ion-arrow-left-c"></i></a>
      <a id="up" class="button controls"><i class="icon ion-arrow-up-c"></i></a>
      <a id="down" class="button controls"><i class="icon ion-arrow-down-c"></i></a>
      <a id="right" class="button controls"><i class="icon ion-arrow-right-c"></i></a>
    </div>
  </ion-content>
</ion-view>
