<ion-view view-title="Live">

  <ion-content id="live-content">
    
    <!-- <div class="tap"></div> -->

    <div class="infosBar">

      <div class="leftInfos">
        <span class="live">
          <img src="img/icons/noun_55528_cc.png" alt=""> LIVE
        </span>
      </div>

      <div class="rightInfos">
        <span class="">
          <img src="img/icons/noun_58612_cc.png" alt=""> {{streams}}
        </span>
        <span class="">
          <img src="img/icons/noun_91232_cc.png" style="max-height: 27px;"> {{navigateurs}}
        </span>
        <span style="width: 85px; text-align: left;">
          <img src="img/icons/noun_200962_cc.png" style="max-height: 27px;"> {{progress | date: 'm:s' }}
        </span>
      </div>
    </div>

    <div class="actionsBar">
      <div class="leftInfos">
        <img src="img/icons/noun_29507_cc.png" alt="">
        <img src="img/icons/noun_24623_cc.png" alt="">
        <img src="img/icons/noun_18353.png" alt="">
        <img src="img/icons/noun_137154_cc.png" alt="">
        <img src="img/icons/noun_91232_cc.png" alt="">
      </div>
    </div>

    <div class="content-middle">
      <canvas ns-navigator id="live" width="1280px" height="720px"></canvas>
      <video id="video" preload src="{{live.grid_url}}" type="video/webm" loop></video>
    </div>

    <div class="hide button-bar bar-light">
      <a id="left" class="button controls"><i class="icon ion-arrow-left-c"></i></a>
      <a id="up" class="button controls"><i class="icon ion-arrow-up-c"></i></a>
      <a id="down" class="button controls"><i class="icon ion-arrow-down-c"></i></a>
      <a id="right" class="button controls"><i class="icon ion-arrow-right-c"></i></a>
    </div>
  </ion-content>
</ion-view>
