<ion-view view-title="Live">

  <ion-nav-bar class="bar-stable bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear" menu-toggle="left">
        <span class="one"></span>
        <span class="two"></span>
        <span class="three"></span>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content id="live-content">
    <!--
    <img src="../img/logo-bleu.png" alt="" class="logo-bleu">

    <span class="author">@{{live.author}}</span>
    -->
    <div class="content-middle">

     <!--  <img src="../img/live/contour.png" alt="" class="contour"> -->

      <!-- <h1 class="title-live">{{live.title}}</h1> -->
      <canvas ns-navigator id="live" width="1280px" height="720px"></canvas>
      <video id="video" preload src="{{live.grid_url}}" type="video/webm"></video>
      <!-- <p class="ns-detail"><span class="ion-flag"></span> {{live.location}} <span class="ion-at"></span> {{live.author}}</p> -->

    </div>

    <div class="content-bottom">
      <h1 class="location">{{live.location}}</h1>
      <img src="img/live/voir.png" alt="" id="start">
<!--       <button id="start" class="button button-outline button-positive">
        Start live
      </button> -->
    </div>




    <div class="hide button-bar bar-light">
      <a id="left" class="button controls"><i class="icon ion-arrow-left-c"></i></a>
      <a id="up" class="button controls"><i class="icon ion-arrow-up-c"></i></a>
      <a id="down" class="button controls"><i class="icon ion-arrow-down-c"></i></a>
      <a id="right" class="button controls"><i class="icon ion-arrow-right-c"></i></a>
    </div>
  </ion-content>
</ion-view>
